<div class="panel panel-pithy author">
    <div class="panel-heading avastar">
        <img src="http://bioquan.github.io/quanweb/favicon.jpg" alt="许泉(XuQuan)"/>
    </div>
    <div class="panel-body">
        有志者事竟成;苦心人天不负!
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="weibo"><a href="http://www.weibo.com/quanchn/" alt="新浪微博" target="_blank"><i class="fa fa-weibo"></i>新浪微博</a></li>
            <li class="github"><a href="https://github.com/bioquan" alt="github" target="_blank"><i class="fa fa-github"></i>github</a></li>
            <li class="facebook"><a href="https://www.facebook.com/qxuchn" alt="facebook" target="_blank"><i class="fa fa-facebook"></i>facebook</a></li>
            <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" alt="订阅" target="_blank"><i class="fa fa-rss"></i>rss</a></li>
        </ul>
    </div>
</div>
